<div class=about>
		  <p>
		    Suzanne Grimes is a dynamic executive with a strong record of growing media brands across outdoor, mobile, social, digital, print and event businesses in the public and private sectors. Successful at developing integrated revenue models through cross-functional collaboration, leveraging sales, marketing and data tools to drive gorwth. Strength in building and motivating high performance cultures, combining an entrepreneurial approach with the discipline and communication required in large, matrixed organizations. Passionate about the convergence of media, technology and entertainment, and bringing the critical thinking and enthusiasm necessary to lead brands and teams through change. 
</p>
<p>
			Specialties: Driving high performance around a vision, attracting and developing talent, building brands, leading multi-platform advertising sales teams, innovating with integrated sales and marketing programs, leveraging and monetizing content, creating new revenue streams, transforming traditional media assets to digital and mobile, corporate restructuring, strategic planning and execution.
		</p>
	</div>