<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jott LLC</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Antic" />
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="title">
		.Jott.
	</div>
	<div class="navbar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/clients">Clients</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<%= yield %>
</body>